<style>
    .parent{
        position: relative;
        display: block;
        width: auto;
        height: 200px;
        background-color: #eb6864!important;
    }
</style>
<div class="parent"></div>
