<link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />
<style>
  .flexBox{
    display:flex;
  }
  .container{
    flex: 1;
    position: relative;
    display: block;
    height: 800px;
    width: 100%;
    background-color: orange;
  }
  .container1{
    flex: 1;
    position: relative;
    display: block;
    height: 800px;
    width: 100%;
    background-color: aqua;
  }
 
</style>
<%- include ("./partials/header"); %>
<div class="flexBox">
  <div class="container"></div>
  <div class="container1"></div>
  
</div> 

 
<%- include ("./partials/footer"); %>


